




/* The whole profile will display in the direction of column */
.profile-page {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin:-10px;
  min-width: fit-content;
}


/* Define the entire welcome page */
.welcome-container {
  flex:1;
  position: relative;
}

.bg-image {
  height:100vh;
  background-image:url(../image/blue-sky-with-puffy-white-clouds.jpeg);
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* margin-top: -10%; */
}

/* .welcome-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: -20%;
} */

.welcome-container .message {
  /* position:absolute;
  bottom: 40%;
  right: 40%; */
  text-align: center;
  /* height: fit-content;
  width: fit-content; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.welcome-container .dec-image {
  position:absolute;
  bottom: 24%;
  right: 44%;
  width:23vw;
  object-fit: cover;
  opacity: 0;
}

/* Animation */
.welcome-span {
  display:inline-block;
  color:rgb(20, 20, 21);
  color:  whitesmoke;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.welcome-span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.welcome-span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome-span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome-span:nth-child(3) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.welcome-span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Now define the structure for each section */
/* Definte section container (default direction flex = row) to centralize each section
in the profile page */
.section-container
 {
    display:flex;
    justify-content: center;
    flex:1;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: rgba(0, 0, 0, 0.127); */
}

.portfolio-container {
  position: relative;
}

.about-container {
  line-height: 23px;
}

.contact-container {
  margin-bottom: 100px;
}

/*Define section in the direction of columns to add content by rows
  Each section consists of two blocks: section-title and section-card*/
.section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content:content;
    align-items: center;
}

/*Section title*/
.section-title {
  background-color: rgb(254 217 111);
  padding: 6px 10px 6px 8px;
  border-radius: 2px;
  font-style: italic;
  font-family: Permanent Marker;
  font-weight:300;
  font-size: 24px;
  display:flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  width: fit-content;
  margin-bottom: 25px;
}

.contact-container .section-title {
  background-color: transparent;
  border-bottom: 3px solid rgb(254 217 111);
}


/* Section card in the direction of rows, which will take new content by columns  */
.section-card {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.211);  */
  /* padding: 10px;   */
}

.section-card .left {
  flex:1
}

.section-card .right {
  flex:1
}

/* Futher specs for the about section */
.about-card .left {
  position: relative;
  max-width: 250px;
}

.about-card .right {
  max-width: 750px;
}

.portrait-image {
  width: 95%;
  object-fit:cover;
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 50%;
  overflow:hidden;
}

/* Futher specs for the skill section */
.skill-card p {
  line-height: 28px;
}

.skill-card .left {
  line-height: 28px;
  max-width: 600px;
  padding-right: 25px;
  /* background-color: rgba(0, 0, 0, 0.211); */
}

.skill-card .right {
  max-width: 600px;
  /* background-color: rgba(0, 0, 0, 0.202); */
}


.skill-category {
  font-weight: bold;
}

.skill {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.skill .name {
  flex:1;
  font-family:open Sans, sans-serif;
  font-size: 15px;
  /* margin-right: 100px; */
}

.skill .level {
  flex:1;
  width: 100%;
}

/* Futher specs for the job & education section */
.job-card {
  display:flex;
  /* justify-content:space-between; */
  align-self:normal;
  /* background-color: rgba(0, 0, 0, 0.103); */
}

.job-card .left {
  text-align: right;
  position: relative;
  color:gray;
  max-width: 200px;
  margin-right: 25px;
  /* background-color: rgba(0, 0, 0, 0.103); */
}

.job-card .right {
  border-left: 1px solid gray;
  padding-left: 25px;
  position: relative;
  max-width: 600px;
  margin: 0px;
  /* background-color: rgba(0, 0, 0, 0.125); */
}

.circle {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(177, 169, 169);
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -9px;
  top: 2px;
}

.role {
    font-weight:bold;
    padding-bottom: 6px;
}

.company {
  padding-left: 0px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color:gray;
  font-family: Josefin Sans;
  text-align:left;
}


.logo {
    width: 50px;
    object-fit: cover;
    position: absolute;
    right: -5px;
    top: 5px;
}

.pin-logo {
  width: 36px;
  object-fit: cover;
}

.usc-work-logo {
  width: 45px;
  object-fit: cover;
}


.school-logo {
  width: 70px;
  margin-right:-15px;
  top: 0px;
}



/* Futher specs for other section */
.other-card .left {
  line-height: 24px;
  /* padding-right: 15px; */
  /* margin: 0; */
  max-width: 600px;
  width: fit-content;
  /* background-color: rgba(0, 0, 0, 0.125); */
}



/* New structure for the portfolio gallery, in the form of grid */
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 500px 500px;
  column-gap: 20px;
  row-gap: 20px;
  background-color:rgba(0, 170, 255,0.2);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  /* max-width: fit-content; */
  /* margin-right: 8px; */
}

.project {
  width: 100%;
  /* margin-top: 30px; */
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.project .info {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-color: aliceblue;
  background: rgba(256,256,256,0.5);
  /* color:whitesmoke; */
  opacity: 0;
}

.p2 .info {
  background: rgba(0,0,0,0.5);
}

.info button {
  background-color: transparent;
  border: none;
}

.h4 {
  font-weight: bold;
  font-size:18px;
  margin-bottom: 20px;
}

.h41 {
  margin-bottom:5px;
  width: fit-content;
  text-align: center;
  border-bottom: 1px solid rgb(177, 169, 169);
  margin-right: 8px;
}

.h41 p {
  font-size:18px;
  padding-bottom: 5px;
  line-height: 28px;
}

.notes {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5px;
  /* border-top: 1px solid rgb(177, 169, 169); */
  width: fit-content;
}

.project .info:hover {opacity: 1;}

.project-box-container {
  position:absolute;
  opacity: 0;
  top:75px;
  transition: all 0.4s;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.project-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin:30px;
  align-items: center;
  text-align: center;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.close-x {
  position: absolute;
  right:13px;
  top: 0px;
  font-size: 25px;
  color: rgba(128, 128, 128, 0.726);
}

.project-box-container:target {
  visibility: visible;
  opacity: 1;
}

.slide {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color:  rgb(255, 242, 204);;
  margin:30px;
}

.slide p, ul li {
  /* font-family: Roboto; */
  font-size: 15px;
}


.slide p,ul {
  line-height: 27px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.slide .h5 {
  color: rgb(43, 112, 222);
  margin-top: 5px;
  font-weight: 500;
}

.slide .h4 {
  align-items: center;
  text-align: center;
  font-size: 21px;
  margin-bottom: 8px;
  padding-top: 0px;
  margin-top: 0px;
}

.slide .content {
  flex:1;
  max-width: 600px;
  text-align: left;
  padding-left:30px;
  padding-top: 20px;
}

.slide .image {
  flex:1;
  max-width: 600px;
}

.slide img {
  height:100%;
  width: 100%;
  object-fit:contain;
}

/* Futher specs for the contact section */
.contact-card {
  display: flex;
  /* margin-right: 5px; */
  /* margin-left: 10px; */
  /* background-color: rgba(0, 0, 0, 0.103); */
  /* padding: 0; */
  /* flex-direction: column; */
}

.contact-card .left,.right {
  max-width: 500px;
  height: max-content;
  margin:0px;
  /* background-color: bisque; */
}

.contact-card .row {
  display: flex;
  max-width: 500px;
  flex:1;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 0px;
}

.contact-card .outro {
  text-align: center;
  margin-bottom: 8px;
}


.sender {margin-right: 10px;}

.contact-card button {
  width: 100%;
  height: 100%;
  background-color: rgb(254 217 111);
  border:none;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  /* line-height: 1.5; */
  border-radius: 5px;
  cursor: pointer;
}

.logos {
  justify-content: center;
}



.web-logo {
  width: 20px;
  object-fit: cover;
  margin-left: 10px;
}


/* Futher specs for the signcature section */
.signature {
  margin-bottom: 80px;
  display:flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  width: fit-content;
}


/* mobile set up */

@media screen and (max-width: 500px) {

  html,body {min-width:400px}

  .bg-image {
    height:100vh;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    margin-top: -20%;
  }
  
/* 
  .welcome-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: -20%;
  } */
  
  .section-container
  {
     margin-left: 20px;
     margin-right: 20px;
     /* background-color: rgba(0, 0, 0, 0.507); */
 }
 
  
.section-card {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.211);  */
}

.about-card .left {
  flex:1;
  align-self: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
  /* background-color: rgba(212, 41, 41, 0.211);  */
}

.about-card .right {
  width: fit-content;
  /* background-color:black; */
}

.portrait-image {
  display: block;
  width: 80%;
  object-fit:contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow:hidden;
  position: static;
}


.skill-card .left {
  line-height: 28px;
  max-width: 500px;
  /* margin-right: 0px; */
  /* background-color: rgba(0, 0, 0, 0.211); */
}

.skill-card .right {
  max-width: 500px;
  margin-left: 0px;
  margin-top: 5px;
  /* background-color: rgba(0, 0, 0, 0.202); */
}

.job-card {
  display:flex;
  justify-content:flex-start;
  align-self:normal;
  /* background-color: rgba(0, 0, 0, 0.103); */
}

  .job-card .left {
    text-align: left;
    position: relative;
    color:gray;
    max-width: 500px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-left: 1px solid gray;
  }

  .job-card .right {
    border-left: 1px solid gray;
    padding-left: 25px;
    position: relative;
    max-width: 500px;
  }



  .logo {
    width: 50px;
    object-fit: contain;
    position: static;
  }

  .pin-logo {
    width: 36px;
    /* object-fit: cover; */
  }

  .school-logo {
  width: 70px;
  object-fit: contain;
  margin-left: -11px;
  position: static;
  margin-right:0px;
  }

  .gallery { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 0px;
    /* display:flex;
    flex-direction: column; */
    background-color:rgba(0, 170, 255,0.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    row-gap: 20px;
    border-radius: 20px;
  }
  
  
  .project {
    width: fit-content;
    /* margin-top: 25px; */
    position: relative;
    flex:1;
  }
  
  .project-box-container {
    width: 110%;
  }

  .close-x {
    position: absolute;
    right:5px;
    top: 0px;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.726);
  }

  .slide {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color:  rgb(255, 242, 204);;
    margin:20px;
    width: fit-content;
  }
  
  .slide .content {
    flex:1;
    width:fit-content;
    text-align: left;
    padding-top: 20px;
    padding-left:0px;
  }

  .slide p {font-size: 14px;}
  .slide ul li {font-size: 14px;}
  .slide .h4 {font-size: 18px;}

  
  .slide .image {
    flex:1;
    width:fit-content;
  }

  .contact-card p {
    font-size: 14px;
  }
  .contact-card button {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}
